*.o
*~
*.tmp
*.boot
*.gtp
core
depend
obsld
predld
xassign
xboot
xchain
xem
xespectrum
xfileindex
xhayes
xhill
xini
xjobqueue
xmatcoal
xmisc
xmodel
xpolya
xpophist
xreadgtp
xstrobeck
xsums
xtabulation
xtokenizer
xwindow
